.tag {
  display: flex;
  width: auto;
  padding: 4px 8px;
  border-radius: 2px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  text-transform: uppercase;
  color: #FBFAF8;
}
